DATABASE_URL="postgres://db_user:db_password@host:port/db_name"
JWT_SECRET=AaBbCc
JWT_EXPIRES_IN=1Day
REDIS_URL=localhost
REDIS_PORT=6379
GIGACHAT_AUTH_KEY=AaBbCc
GIGACHAT_SCOPE=GIGACHAT_API_PERS
GIGACHAT_MODEL=GigaChat-2